.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 601px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 514px;
  margin: 75px auto 0;
}

.u-section-1 .u-form-1 {
  height: 311px;
  width: 678px;
  margin: 74px auto 68px;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-1 .u-input-1 {
  background-image: linear-gradient(black, #404040);
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-1 .u-input-2 {
  background-image: linear-gradient(black, #404040);
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-1 .u-input-3 {
  background-image: linear-gradient(black, #404040);
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  margin-left: auto;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 30%;
  background-image: none;
  border-style: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    font-family: Lato, sans-serif;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 70px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-bottom: 47px;
  }

  .u-section-1 .u-btn-1 {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1 .u-form-1 {
    height: 401px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    width: 50%;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1185px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-size: 4.5rem;
  font-family: "Bungee Shade";
  margin: 133px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  width: 673px;
  font-family: abril-fatface;
  margin: 37px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  width: 673px;
  margin: 57px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-family: "Bungee Shade";
  font-size: 6rem;
  margin: 133px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  width: 673px;
  font-family: abril-fatface;
  margin: 35px auto 0;
}

.u-section-3 .u-text-3 {
  width: 673px;
  font-size: 1.875rem;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 821px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 6rem;
  width: 673px;
  font-family: "Bungee Shade";
  margin: 140px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  width: 673px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-family: "Bungee Shade";
  font-size: 6rem;
  margin: 133px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  width: 673px;
  margin: 37px auto 60px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 654px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-family: "Bungee Shade";
  font-size: 6rem;
  margin: 133px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  width: 673px;
  margin: 37px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 758px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-family: "Bungee Shade";
  margin: 133px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  width: 673px;
  margin: 37px auto 60px;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 679px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-family: "Bungee Shade";
  margin: 133px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  width: 673px;
  margin: 37px auto 60px;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 684px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-size: 6rem;
  font-family: "Bungee Shade";
  margin: 133px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  width: 673px;
  margin: 37px auto 60px;
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 689px;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  font-size: 6rem;
  font-family: "Bungee Shade";
  margin: 132px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  width: 673px;
  margin: 31px auto 60px;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}